<!-- =========================================================================================
  File Name: DashboardAnalytics.vue
  Description: Dashboard Analytics
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="home">
    <div class="vx-row">
      <!-- CARD 9: DISPATCHED ORDERS -->
      <div class="vx-col w-full">
        <vx-card title="Perguntas Respondidas">
          <div slot="no-body" class="mt-4">
            <vs-table :data="questionsSeries" class="table-dark-inverted">
              <template>
                <vs-tr  v-for="item in questionsSeries" :key="item">
                  <vs-td>
                    <h2>Pergunta: </h2><span>{{item.description}}</span><br>
                    <h2>Resposta: </h2><span>{{item.response}}</span>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>

        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios"

export default {
    data() {
        return {
          questionsSeries: ''
        }
    },
created(){
  this.request()
  },
  methods: {
    request(){
      axios.post('https://olist-interaction-manager-ci2nkxuhta-uc.a.run.app/api/v1/question/find-all')
    .then((response) => {
      console.log(response);
      this.questionsSeries = response.data
    }, (error) => {
      console.log(error);
    });
      }
    }
}
</script>
<style>
.vs-con-table td{
  border-bottom: 1px solid #212744;
  border-left: 1px solid #212744;
}
.vs-con-table h2{
  font-size: 16px;
}
.vs-con-table span{
  font-size: 14px
}
.vs-con-table tr{
  z-index: 0 !important;
}
.vs-con-table tr:hover{
  border-top: 5px solid #212744 !important;
  z-index: 0 !important;
}  
</style>
